In [52]:
import pandas as pd
df=pd.read_csv('books.csv')
df.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [53]:
#selecting relevant data
df = df[['title', 'authors', 'original_publication_year', 'language_code', 'average_rating']]
# Removing missing data
df.dropna(inplace=True)
# Reseting index
df.reset_index(drop=True, inplace=True)
df.head()

,title,authors,original_publication_year,language_code,average_rating
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,2008.0,eng,4.34
1,Harry Potter and the Sorcerer's Stone (Harry P...,"J.K. Rowling, Mary GrandPré",1997.0,eng,4.44
2,"Twilight (Twilight, #1)",Stephenie Meyer,2005.0,en-US,3.57
3,To Kill a Mockingbird,Harper Lee,1960.0,eng,4.25
4,The Great Gatsby,F. Scott Fitzgerald,1925.0,eng,3.89

In [54]:
def search_books(keyword, column='title'):
    """
    Search for books containing the keyword in the specified column.
    Returns top 10 matches.
    """
    # Filter rows where the column contains the keyword (case-insensitive)
    results = df[df[column].str.contains(keyword, case=False, na=False)]
    
    # Select and return relevant columns
    return results[['title', 'authors', 'original_publication_year', 'average_rating']].head(10)
def search_books(keyword, column='title'):
    '''
    search for books containing the keyword in the sepcified column.
    returns the top 10 matches.
    '''
    #filtering the rows where the column contains the keyword (case-insensitive)
    results=df[df[column].str.contains(keyword, case=False, na=False)]
    return results

In [55]:
print(search_books('Harry Potter', 'title'))

                                                  title  \
1     Harry Potter and the Sorcerer's Stone (Harry P...
17    Harry Potter and the Prisoner of Azkaban (Harr...
20    Harry Potter and the Order of the Phoenix (Har...
22    Harry Potter and the Chamber of Secrets (Harry...
23    Harry Potter and the Goblet of Fire (Harry Pot...
24    Harry Potter and the Deathly Hallows (Harry Po...
26    Harry Potter and the Half-Blood Prince (Harry ...
273   Harry Potter and the Cursed Child - Parts One ...
412            Harry Potter Boxset (Harry Potter, #1-7)
1914                        Harry Potter: Film Wizardry
2010  The Harry Potter Collection 1-4 (Harry Potter,...
3065  Harry Potter Boxed Set, Books 1-5 (Harry Potte...
3498       Harry Potter Collection (Harry Potter, #1-6)
6367  The Magical Worlds of Harry Potter: A Treasury...
7532  Harry, a History: The True Story of a Boy Wiza...
8103  Harry Potter Schoolbooks Box Set: Two Classic ...

                                      authors  original_publication_year  \
1                 J.K. Rowling, Mary GrandPré                     1997.0
17    J.K. Rowling, Mary GrandPré, Rufus Beck                     1999.0
20                J.K. Rowling, Mary GrandPré                     2003.0
22                J.K. Rowling, Mary GrandPré                     1998.0
23                J.K. Rowling, Mary GrandPré                     2000.0
24                J.K. Rowling, Mary GrandPré                     2007.0
26                J.K. Rowling, Mary GrandPré                     2005.0
273   John Tiffany, Jack Thorne, J.K. Rowling                     2016.0
412                              J.K. Rowling                     1998.0
1914                             Brian Sibley                     2010.0
2010              J.K. Rowling, Mary GrandPré                     1999.0
3065              J.K. Rowling, Mary GrandPré                     2003.0
3498                             J.K. Rowling                     2005.0
6367                            David Colbert                     2001.0
7532             Melissa Anelli, J.K. Rowling                     2008.0
8103                             J.K. Rowling                     2001.0

     language_code  average_rating
1              eng            4.44
17             eng            4.53
20             eng            4.46
22             eng            4.37
23             eng            4.53
24             eng            4.61
26             eng            4.54
273            eng            3.75
412            eng            4.74
1914           eng            4.48
2010           eng            4.66
3065           eng            4.77
3498           eng            4.73
6367           eng            3.96
7532         en-US            4.09
8103           eng            4.40

In [56]:
z=search_books('Stephen King', 'authors')
print(z)

                                           title  \
70                  The Shining (The Shining #1)
165                                    The Stand
173                                           It
227          The Gunslinger (The Dark Tower, #1)
237                                       Misery
...                                          ...
8179         Carrie / 'Salem's Lot / The Shining
8185      The Green Mile, Part 3: Coffey's Hands
8365  The Green Mile, Part 6: Coffey on the Mile
8534                           Riding the Bullet
8837       The Green Mile, Part 5: Night Journey

                             authors  original_publication_year language_code  \
70                      Stephen King                     1977.0           eng
165   Stephen King, Bernie Wrightson                     1978.0         en-US
173                     Stephen King                     1986.0         en-US
227                     Stephen King                     1982.0         en-US
237                     Stephen King                     1987.0         en-GB
...                              ...                        ...           ...
8179                    Stephen King                     1983.0           eng
8185                    Stephen King                     1996.0           eng
8365                    Stephen King                     1996.0           eng
8534     Stephen King, Josh Hamilton                     2000.0           eng
8837                    Stephen King                     1996.0           eng

      average_rating
70              4.17
165             4.34
173             4.18
227             3.99
237             4.11
...              ...
8179            4.52
8185            4.50
8365            4.55
8534            3.60
8837            4.51

[93 rows x 5 columns]

In [57]:
def filter_by_year(year):
    """
    Return top 10 books published in the specified year.
    """
    results = df[df['original_publication_year'] == year]
    return results[['title', 'authors', 'original_publication_year', 'average_rating']].head(10)

In [58]:
filter_by_year(2000)

,title,authors,original_publication_year,average_rating
8,"Angels & Demons (Robert Langdon, #1)",Dan Brown,2000.0,3.85
23,Harry Potter and the Goblet of Fire (Harry Pot...,"J.K. Rowling, Mary GrandPré",2000.0,4.53
99,Me Talk Pretty One Day,David Sedaris,2000.0,3.97
106,"Confessions of a Shopaholic (Shopaholic, #1)",Sophie Kinsella,2000.0,3.61
125,The Tipping Point: How Little Things Can Make ...,Malcolm Gladwell,2000.0,3.92
132,"A Storm of Swords (A Song of Ice and Fire, #3)",George R.R. Martin,2000.0,4.54
361,"Stargirl (Stargirl, #1)",Jerry Spinelli,2000.0,3.74
440,"Storm Front (The Dresden Files, #1)",Jim Butcher,2000.0,4.02
469,"The Amber Spyglass (His Dark Materials, #3)",Philip Pullman,2000.0,4.06
483,A Heartbreaking Work of Staggering Genius,Dave Eggers,2000.0,3.68

In [60]:
search_term = input("Enter a keyword to search in book titles: ")
results = search_books(search_term, 'title')
print(results)

Enter a keyword to search in book titles:  harry potter

                                                  title  \
1     Harry Potter and the Sorcerer's Stone (Harry P...
17    Harry Potter and the Prisoner of Azkaban (Harr...
20    Harry Potter and the Order of the Phoenix (Har...
22    Harry Potter and the Chamber of Secrets (Harry...
23    Harry Potter and the Goblet of Fire (Harry Pot...
24    Harry Potter and the Deathly Hallows (Harry Po...
26    Harry Potter and the Half-Blood Prince (Harry ...
273   Harry Potter and the Cursed Child - Parts One ...
412            Harry Potter Boxset (Harry Potter, #1-7)
1914                        Harry Potter: Film Wizardry
2010  The Harry Potter Collection 1-4 (Harry Potter,...
3065  Harry Potter Boxed Set, Books 1-5 (Harry Potte...
3498       Harry Potter Collection (Harry Potter, #1-6)
6367  The Magical Worlds of Harry Potter: A Treasury...
7532  Harry, a History: The True Story of a Boy Wiza...
8103  Harry Potter Schoolbooks Box Set: Two Classic ...

                                      authors  original_publication_year  \
1                 J.K. Rowling, Mary GrandPré                     1997.0
17    J.K. Rowling, Mary GrandPré, Rufus Beck                     1999.0
20                J.K. Rowling, Mary GrandPré                     2003.0
22                J.K. Rowling, Mary GrandPré                     1998.0
23                J.K. Rowling, Mary GrandPré                     2000.0
24                J.K. Rowling, Mary GrandPré                     2007.0
26                J.K. Rowling, Mary GrandPré                     2005.0
273   John Tiffany, Jack Thorne, J.K. Rowling                     2016.0
412                              J.K. Rowling                     1998.0
1914                             Brian Sibley                     2010.0
2010              J.K. Rowling, Mary GrandPré                     1999.0
3065              J.K. Rowling, Mary GrandPré                     2003.0
3498                             J.K. Rowling                     2005.0
6367                            David Colbert                     2001.0
7532             Melissa Anelli, J.K. Rowling                     2008.0
8103                             J.K. Rowling                     2001.0

     language_code  average_rating
1              eng            4.44
17             eng            4.53
20             eng            4.46
22             eng            4.37
23             eng            4.53
24             eng            4.61
26             eng            4.54
273            eng            3.75
412            eng            4.74
1914           eng            4.48
2010           eng            4.66
3065           eng            4.77
3498           eng            4.73
6367           eng            3.96
7532         en-US            4.09
8103           eng            4.40

In [62]:
def search_multiple(keyword):
    results_title = df[df['title'].str.contains(keyword, case=False, na=False)]
    results_authors = df[df['authors'].str.contains(keyword, case=False, na=False)]
    combined = pd.concat([results_title, results_authors]).drop_duplicates()
    return combined[['title', 'authors', 'original_publication_year', 'average_rating']].head(10)

In [63]:
def search_and_sort(keyword, column='title'):
    """
    Search books by keyword in the specified column,
    then sort by average_rating descending.
    """
    results = df[df[column].str.contains(keyword, case=False, na=False)]
    results = results.sort_values(by='average_rating', ascending=False)
    return results[['title', 'authors', 'original_publication_year', 'average_rating']].head(10)

In [64]:
def search_and_sort(keyword, column='title'):
    results = df[df[column].str.contains(keyword, case=False, na=False)]
    results = results.sort_values(by='average_rating', ascending=False)
    return results[['title', 'authors', 'original_publication_year', 'average_rating']].head(10)

In [65]:
def user_search():
    keyword = input("Enter a keyword to search: ")
    column = input("Search by 'title' or 'authors'? ").strip().lower()
    if column not in ['title', 'authors']:
        print("Invalid column, defaulting to title.")
        column = 'title'
    results = search_and_sort(keyword, column)
    print(results)
    save = input("Save results to CSV? (yes/no): ").strip().lower()
    if save == 'yes':
        filename = input("Enter filename (e.g., results.csv): ")
        save_search_results(results, filename)
    else:
        print("Results not saved.")
def save_search_results(results, filename='search_results.csv'):
    """
    Save a DataFrame of search results to a CSV file.
    """
    results.to_csv(filename, index=False)
    print(f"Results saved to {filename}")

In [66]:
user_search()

Enter a keyword to search:  harry potter
Search by 'title' or 'authors'?  title

                                                  title  \
3065  Harry Potter Boxed Set, Books 1-5 (Harry Potte...
412            Harry Potter Boxset (Harry Potter, #1-7)
3498       Harry Potter Collection (Harry Potter, #1-6)
2010  The Harry Potter Collection 1-4 (Harry Potter,...
24    Harry Potter and the Deathly Hallows (Harry Po...
26    Harry Potter and the Half-Blood Prince (Harry ...
17    Harry Potter and the Prisoner of Azkaban (Harr...
23    Harry Potter and the Goblet of Fire (Harry Pot...
1914                        Harry Potter: Film Wizardry
20    Harry Potter and the Order of the Phoenix (Har...

                                      authors  original_publication_year  \
3065              J.K. Rowling, Mary GrandPré                     2003.0
412                              J.K. Rowling                     1998.0
3498                             J.K. Rowling                     2005.0
2010              J.K. Rowling, Mary GrandPré                     1999.0
24                J.K. Rowling, Mary GrandPré                     2007.0
26                J.K. Rowling, Mary GrandPré                     2005.0
17    J.K. Rowling, Mary GrandPré, Rufus Beck                     1999.0
23                J.K. Rowling, Mary GrandPré                     2000.0
1914                             Brian Sibley                     2010.0
20                J.K. Rowling, Mary GrandPré                     2003.0

      average_rating
3065            4.77
412             4.74
3498            4.73
2010            4.66
24              4.61
26              4.54
17              4.53
23              4.53
1914            4.48
20              4.46

Save results to CSV? (yes/no):  yes
Enter filename (e.g., results.csv):  my_results.csv

Results saved to my_results.csv

In [67]:
import random

def book_recommendation_quiz():
    print("Welcome to the Book Recommendation Quiz!")
    
    era = input("Do you prefer classic (before 2000) or modern (2000 and after) books? Enter 'classic', 'modern', or 'any': ").strip().lower()
    high_rating = input("Do you want only highly rated books? (yes/no): ").strip().lower()
    keyword = input("Enter a keyword to filter by title or author (or press Enter to skip): ").strip().lower()
    
    # Start filtering the dataframe
    filtered = df.copy()
    
    # Filter by era
    if era == 'classic':
        filtered = filtered[filtered['original_publication_year'] < 2000]
    elif era == 'modern':
        filtered = filtered[filtered['original_publication_year'] >= 2000]
    # else 'any' - no filter on year
    
    # Filter by rating
    if high_rating == 'yes':
        filtered = filtered[filtered['average_rating'] >= 4.0]
    
    # Filter by keyword in title or authors
    if keyword:
        filtered = filtered[
            filtered['title'].str.lower().str.contains(keyword) | 
            filtered['authors'].str.lower().str.contains(keyword)
        ]
    
    # If less than 3 books found, adjust
    if len(filtered) == 0:
        print("Sorry, no books found matching your criteria.")
        return
    elif len(filtered) < 3:
        sample_size = len(filtered)
    else:
        sample_size = 3
    
    # Pick random books
    recommendations = filtered.sample(sample_size)
    
    print("\nHere are your book recommendations:")
    for idx, row in recommendations.iterrows():
        print(f"- {row['title']} by {row['authors']} ({row['original_publication_year']}), Rating: {row['average_rating']}")

In [69]:
book_recommendation_quiz()

Welcome to the Book Recommendation Quiz!

Do you prefer classic (before 2000) or modern (2000 and after) books? Enter 'classic', 'modern', or 'any':  modern
Do you want only highly rated books? (yes/no):  yes
Enter a keyword to filter by title or author (or press Enter to skip):

Here are your book recommendations:
- The Walking Dead, Vol. 08: Made to Suffer by Robert Kirkman (2008.0), Rating: 4.47
- Kill Shot (Mitch Rapp, #2) by Vince Flynn (2012.0), Rating: 4.3
- The Crossing (Harry Bosch, #20; Mickey Haller, #7; Harry Bosch Universe, #25) by Michael Connelly (2015.0), Rating: 4.21